{
  "extends": ["standard", "plugin:vue/recommended"],
  "plugins": ["html", "import", "vue"],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "no-new": "off",
    "prefer-const": "off",
    "indent": "off",
    "comma-dangle": "off",
    "space-before-function-paren": 0,
    "vue/html-self-closing": ["error", {
      "html": {
        "void": "never",
        "normal": "any",
        "component": "any"
      },
      "vue/no-parsing-error": [2, {
        "x-invalid-end-tag": false
      }],
      "svg": "always",

      "math": "always"
    }]
  }
}